.classpath
.externalToolBuilders/
.project
.settings/
.swp
src/main/resources/conf/properties/application.properties
src/main/resources/r/.Rhistory
src/main/webapp/css/bootstrap/
src/main/webapp/css/optimised/
src/main/webapp/js/optimised/
target/
*.swp
