@baseFontSize: 13px;
@baseLineHeight: 18px;
@fontSizeLarge: @baseFontSize * 1.25;
@fontSizeSmall: @baseFontSize * 0.9;
@fontSizeMini: @baseFontSize * 0.8;
@bodyBackground: #f0f0da;
@tableBorder: #aaa;
@tableBackgroundAccent: #eeeec8;
@tableBackgroundHover: #e6e6c0;
@btnPrimaryBackground: #899e47;
@formBorderedBackground: #e6e6c0;
@dropdownLinkBackgroundActive: @btnPrimaryBackground;

@iconSpritePath: "../../img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../img/glyphicons-halflings-white.png";

body {
  height: 100%;
  min-width: 980px;
}

h1 {
  color: @textColor;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 13px;
}

h2 {
  color: #ef9800;
  font-size: 17px;
  line-height: 1;
  margin-bottom: 11px;
}

h3 {
  color: @textColor;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 9px;
}

a {
  color: @textColor;
  text-decoration: underline;
}

a:hover {
  color: #ef9800;
}

a.btn {
  text-decoration: none;
}

.btn {
  padding: 4px 8px;
}

.dropdown-menu {
  z-index: 2000;
}

.table thead th {
  background-color: #f5ce7c;
}

/*
 * Use div.legend instead of legend element to overcome webkit bug.
 *
 * See discussion on github for more info:
 *
 *   - https://github.com/twitter/bootstrap/pull/1623
 *   - https://github.com/twitter/bootstrap/issues/2311
 */
div.legend {
  display: block;
  width: 100%;
  padding: 0 0 5px 0;
  margin-bottom: 18px;
  font-size: @baseFontSize * 1.3;
  line-height: 1;
  color: @grayDark;
  border: 0;
  border-bottom: 1px solid #c7c7c7;

  // Small
  small {
    font-size: @baseLineHeight * .75;
    color: @grayLight;
  }
}

.control-group {
  margin-bottom: 0;
}

.form-actions {
  border-top: none;
  background: none;
  margin: 18px 0 0 0;
  padding: 0 18px 18px 18px;
}

.form-horizontal {
  .control-label {
    width: 160px;
  }
  .controls {
    margin-left: 180px;
    &:first-child {
      *padding-left: 180px;
    }
  }
  .form-actions {
    padding-left: 18px;
  }
}

.form-vertical {
  .form-actions {
    margin-top: 9px;
  }
}

.form-bordered {
  .border-radius(10px);
  padding: 18px 18px 0 18px;
  background-color: @formBorderedBackground;
  .form-actions {
    .border-radius(0 0 9px 9px);
    margin-left: -18px;
    margin-right: -18px;
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  &:focus {
    border-color: rgba(94,126,60,.8);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(94,126,60,.6)");
  }
}

.input-xxlarge {
  width: 400px;
}

.container {
  width: 940px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@popoverTitleBackground: #D8E0A8;

.popover {
  max-width: 350px;
}

.popover-title {
  font-size: @baseFontSize;
  padding: 6px 12px;
}

.popover-content {
  font-weight: normal;
  padding: 6px 12px;
}

.help-popover-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('../img/help.png');
}

.help-popover {
  display: none;
}

a.carousel-control {
  text-decoration: none;
}

.navbar {
  margin: 0;
}

.navbar-inner {
  .border-radius(0);
  min-height: 0;
  line-height: 0;
  text-align: center;
}

.navbar .nav {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom: 1; /* hasLayout ie7 trigger */
  margin: 0 auto;
}

.navbar .nav > li > a {
  font-weight: bold;
  padding: 9px 25px;
}

.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:link,
.navbar-inverse .nav > li > a:visited {
  color: #ffffff;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:active {
  color: #f7a700;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:link,
.navbar .nav > li.active > a:visited {
  color: #D78B00;
}

/* main divs */

#header {
  background-color: white;
}

@bannerLeftImageWidth: 152px;
@bannerLeftImageHeight: 80px;
@bannerLeftHorizontalPadding: 20px;
@bannerLeftVerticalPadding: 10px;
@bannerLeftWidth: @bannerLeftImageWidth + (2 * @bannerLeftHorizontalPadding);
@bannerHeight: @bannerLeftImageHeight + (2 * @bannerLeftVerticalPadding);

#banner {
}

#banner-left {
  float: left;
  width: @bannerLeftWidth;
  height: @bannerHeight;
  background-image: url('../img/header_logo.png');
  background-position: @bannerLeftHorizontalPadding center;
  background-repeat: no-repeat;
}

#banner-right {
  margin-left: @bannerLeftWidth;
  height: @bannerHeight;
  background-image: url('../img/header_croc.jpg');
  background-position: right center;
  background-repeat: no-repeat;
}

.container-fluid #banner-right {
  background-position: right center;
}

#login {
  position: relative;
  float: right;
  top: @bannerHeight + 5px;
  right: 5px;
}

#nav-extra {
  position: relative;
  float: left;
  top: @bannerHeight + 1px;
  left: 5px;
}

#crumbs {
  margin: 16px 0px;
  padding: 4px 0;
  border-bottom: 1px solid #e8e8e8;
}

#left-menu {
  padding: 9px 0;
}

#content {
}

#main {
  margin: 0px 0px;
  min-height: 500px;
  background-color: #FBFEEE;
  padding-bottom: 20px;
}

#main .container-fluid {
  margin: 0px;
  padding-bottom: 0px;
}

#welcome {
  margin: 20px 0;
  height: 134px;
  text-align: justify;
  background-color: #e6e6c0;
  padding: 8px 16px;
  .border-radius(10px);
}

#welcome h1 {
}

#welcome p {
  margin: 1em 1em 1em 0;
}

#welcome-buttons {
  margin: 20px 0;
}

#welcome-buttons .btn {
  margin: 10px 0;
  height: 70px;
  line-height: 60px;
}

#footer {
  text-align: center;
  background-color: #f0f0da;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #d0d0bb;
}

#logos {
   padding: 16px 0;
}

#logos img {
  margin: 0 20px;
  border: none;
}

#copyright {
  padding-bottom: 8px;
  color: #666;
  font-size: 10px;
  text-align: center;
}

#crumbs a,
#crumbs a:link,
#crumbs a:visited {
  color: #263f00;
  text-decoration: none;
}

#crumbs a:hover,
#crumbs a:active {
  color: #ef9800;
}

#crumbs .active {
  color: #ef9800;
}

/* forms */

.formErrors {
  color: red;
}

/* tables */

.entityTable {
  margin: 10px 0;
}

.entityTable td,
.entityTable th {
  text-align: left;
  vertical-align: top;
  border: none;
  padding: 5px;
}

.entityTable th {
  font-weight: bold;
}

/* hover tooltips */

div.help {
  float: right;
  margin-right: 120px;

}

/* action boxes */

.sidebar-actions {
  margin: 0 0 12px 0;
  padding: 0 12px;
  background-color: #f6f6e6;
  border: 1px solid #e6e6c0;
  .border-radius(4px);
  .box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.08));
}

.sidebar-actions-title {
  color: #EF9800;
  font-weight: bold;
  margin: 8px 0;
}

ul.icons.sidebar-actions-list {
  margin: 10px 0;
  padding: 0;
}

ul.icons {
  margin-left: 0;
  padding-left: 6px;
}

ul.icons li {
  margin: 0.3em 0;
  list-style: none;
  background-repeat: no-repeat;
  background-position: left middle;
  line-height: 16px;
  padding: 0 0 2px 22px;
}

ul.icons li.create {background-image: url('../img/page_white_add.png');}
ul.icons li.view {background-image: url('../img/page_white.png');}
ul.icons li.edit {background-image: url('../img/page_white_edit.png');}
ul.icons li.delete {background-image: url('../img/page_white_delete.png');}

ul.icons li.create-project {background-image: url('../img/folder_add.png');}
ul.icons li.view-project {background-image: url('../img/folder.png');}
ul.icons li.edit-project {background-image: url('../img/folder_edit.png');}
ul.icons li.delete-project {background-image: url('../img/folder_delete.png');}
ul.icons li.publish-project {background-image: url('../img/folder_go.png');}

ul.icons li.create-track {background-image: url('../img/chart_line_add.png');}
ul.icons li.view-track {background-image: url('../img/chart_line.png');}
ul.icons li.edit-track {background-image: url('../img/chart_line_edit.png');}
ul.icons li.delete-track {background-image: url('../img/chart_line_delete.png');}

ul.icons li.create-animal {background-image: url('../img/tag_blue_add.png');}
ul.icons li.view-animal {background-image: url('../img/tag_blue.png');}
ul.icons li.edit-animal {background-image: url('../img/tag_blue_edit.png');}
ul.icons li.delete-animal {background-image: url('../img/tag_blue_delete.png');}

ul.icons li.view-data {background-image: url('../img/table.png');}

ul.icons li.create-file {background-image: url('../img/page_white_add.png');}
ul.icons li.view-file {background-image: url('../img/page_white.png');}
ul.icons li.edit-file {background-image: url('../img/page_white_edit.png');}
ul.icons li.delete-file {background-image: url('../img/page_white_delete.png');}

ul.icons li.analysis {background-image: url('../img/map.png');}

ul.icons li.add-layer {background-image: url('../img/page_white_go.png');}

ul.icons li.manager {background-image: url('../img/user.png');}
ul.icons li.writer {background-image: url('../img/user_green.png');}
ul.icons li.reader {background-image: url('../img/user_orange.png');}

ul.icons li.software {background-image: url('../img/package.png');}
ul.icons li.artwork {background-image: url('../img/palette.png');}

/* maps */

.mapTool {
  background-color: #aaa;
}

#projectMap {
  position: absolute;
  right: 0;
  width: 70%;
  height: 520px;
  background-color: white;
}

#projectMapOptions {
  position: absolute;
  left: 0;
  width: 30%;
  background-color: #e6e6c0;
}

#projectMapOptionsInner {
}

#projectMapOptionsTabs {
    border: 0;
    padding: 0;
}

#projectMapOptionsTabs .ui-tabs-nav {
    border-width: 0 0 1px 0;
    border-color: #aaa;
    border-radius: 0;
    background: none;
    background-color: #D6D6B6;
}

#projectMapOptionsTabs .ui-tabs-panel {
    padding: 10px;
    overflow-y: scroll;
    overflow-x: auto;
}

#projectMapOptionsBack {
  display: inline-block;
  padding: 9px 0;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.projectMapBoxShadow {
  .box-shadow(inset 3px 3px 5px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.oztrack-codeeditor {
  font-family: monospace;
  font-size: 11px;
  width: 940px;
  height: 308px;
}

/* jquery-ui */

.ui-front {
  z-index: 1000;
}

.ui-widget-overlay {
  background: none;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  height: 20px;
  line-height: 20px;
  padding: 0;
}

.ui-datepicker {
  z-index: 9999999 !important;
}

.ui-autocomplete-loading {
  background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* Hide dialog close button because the 'x' is not shown in jquery-ui 1.10.1. */
/* Add a Close button at the bottom of each dialog instead. */
.ui-dialog-titlebar-close {
  display: none;
}

/* openlayers */

.olMap img {
  max-width: none;
}

.olMap label {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}

.olControlAttribution {
  right: 3px !important;
  bottom: 3px !important;
}

.olControlNoSelect {
  color: #ffffff !important;
}

.olControlScaleLineTop,
.olControlScaleLineBottom {
  border-width: 1px !important;
  border-color: #ffffff !important;
}

.olControlScaleLineBottom {
  margin-top: -1px !important;
}

div.olControlMousePosition {
  right: 4px !important;
  bottom: 22px !important;
}

.olControlScaleLine {
  bottom: 35px !important;
  left: 5px !important;
}

div.olControlPanel {
  top: 0px !important;
  right: 5px !important;
  position: absolute !important;
  float: right !important;
}

.olControlPanel div {
  display: block !important;
  width:  22px !important;
  height: 22px !important;
  border: solid 1px #adbc6b !important;
  margin-top: 5px !important;
  background-color: #e6e6c0 !important;
}

.olControlNavToolbar,
.olControlEditingToolbar {
  top: 67px !important;
  left: 8px !important;
  margin: 0 !important;
  background: rgba(255,255,255,0.4) !important;
  -khtml-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
}

.olControlNavToolbar div,
.olControlEditingToolbar div {
  margin: 2px !important;
}

.zoomButtonItemInactive {
  background-image: url('../img/zoomButton.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 22px !important;
  float: right !important;
}

.olControlLoadingPanel {
  background-color: transparent;
  #translucent .background(black, 0.35);
  background-image: url('../img/map-loading.gif') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  top: 0 !important;
  right: 0 !important;
}

.olControlLayerSwitcher {
  top: 31px !important;
}

.olControlLayerSwitcher .layersDiv {
  border-radius: 5px 0 0 5px !important;
}

.olControlDrawFeatureItemInactive {
  background-position: -26px -1px !important;
}

.olControlDrawFeatureItemActive {
  background-position: -26px -24px !important;
}
