@bodyBackground: #263F00;
@tableBorder: #aaa;
@tableBackgroundAccent: #eeeec8;
@tableBackgroundHover: #e6e6c0;
@btnPrimaryBackground: #899e47;

h1 {
  color: black;
  font-size: 1.6em;
}

h2 {
  color:#ef9800;
  font-size: 1.3em;
}

a {
  color: @textColor;
  text-decoration: underline;
}

a:hover {
  color: #ef9800;
}

a.btn {
  text-decoration: none;
}

.table thead th {
  background-color: #f5ce7c;
}

legend {
  margin-bottom: @baseLineHeight * 1.3;
  font-size: @baseFontSize * 1.3;
  line-height: @baseLineHeight * 1.3;
  padding-bottom: @baseLineHeight * 0.15;
}

.control-group {
  margin-bottom: 0;
}

.form-horizontal {
  .control-label {
    width: 160px;
  }
  .controls {
    margin-left: 180px;
    &:first-child {
      *padding-left: 180px;
    }
  }
  .form-actions {
    padding-left: 198px;
  }
}

.form-bordered {
  .border-radius(10px);
  border: 1px solid #d5d5d5;
  padding: 18px 18px 0 18px;
  .form-actions {
    .border-radius(0 0 9px 9px);
    margin: 18px -18px 0 -18px;
  }
}

.form-actions {
  border-top: 1px solid #d5d5d5;
}

@formActionsBackground: #e6e6c0;

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  &:focus {
    border-color: rgba(94,126,60,.8);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(94,126,60,.6)");
  }
}

/* main divs */

#content {
  margin: 0 20px;
}

#container {
  margin: 0 auto;
  width: 990px;
  background-color: #FBFEE9;
  box-shadow: 0 0 6px 6px #223900;
}

#header_left {
  background-color: #ffffff;
  background-image: url('../img/header_logo.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width:300px;
  height: 140px;
  float:left;
}

#header_right {
  background-image: url('../img/header_croc.jpg');
  background-repeat: no-repeat;
  background-position: left;
  margin-left:300px;
  height:140px;
}   

#login {
  position: relative;
  float: right;
  top: 115px;
  height: 15px;
  padding: 0.5em 0.9em;
  color: #ffffff;
  background-color: #666;
  font-weight: bold;
}

#login a {
  color: #ffffff;
}   

#nav {
  text-align: center;
  background-color: #131f00;
}

#navMenu {
  padding: 0;
}   

#crumbs {
  background-color:#fbfee9;
  font-size: 11px;
  padding-bottom: 0.8em;
  margin: 10px 20px 20px 20px;
  border-bottom: 1px solid #e8e8e8;
}

#login {
  font-size: 11px;
}

#content.narrow {
  margin-left: 240px;
}

#content.wide {
}

#content {
  min-height: 300px;
}

#leftMenu {
  position: relative;
  float: left;
  width: 200px;
  margin: 0 20px 0 20px;
}   

#main {
  margin: 20px 0 20px 0;
  background-color: #fbfee9;
}

#footer {
  text-align: center;
  border-top: 1px solid #d0d0bb;
  background: #f0f0da;
}

#logos {
   padding: 16px 0;
}

#logos img {
  margin: 0 20px;
  border: none;
}

#copyright {
  padding-bottom: 8px;
  color: #666;
  font-size: 10px;
  text-align: center;
}

/* nav elements */

#navMenu {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1.2ex;
  padding-bottom: 1.2ex;
  list-style-type: none;
  list-style-image: none;
  display: inline-block;
}

#navMenu a,
#navMenu a:link,
#navMenu a:visited,
#navMenu a:hover,
#navMenu a:active {
  margin: 0 25px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

#navMenu a,
#navMenu a:link,
#navMenu a:visited {
  color:#ffffff;
}

#navMenu a:hover,
#navMenu a:active {
  color:#f7a700;
}

#navMenu ul {
  padding: 0px;
  margin: 0px;
  display: inline;
}

#navMenu li {
  position: relative;
  float: left;
  padding-left: 0px;
}

#navMenu a.active,
#navMenu a.active:link,
#navMenu a.active:visited {
  color: #ef9800;
}

#crumbs a,
#crumbs a:link,
#crumbs a:visited {
  color:#263f00;
  text-decoration:none;
}

#crumbs a:hover,
#crumbs a:active {
  color: #ef9800;
}

#crumbs .active {
  color: #ef9800;
}

#login a:hover,
#login a:active {
  color: #ef9800;
}

/* sidebar */

.sidebarMenu ul {
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:30px;
  padding:0px;
}

.sidebarMenu ul li ul {
  padding-left:10px;
}

.sidebarMenu ul li ul li {
  border: 0px;
  padding-top: 0.4ex;
  padding-bottom: 0.3ex;
}

.sidebarMenu li {
  list-style-type: none;
  list-style-image: none;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 14px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-bottom: dashed 1px black;
}

.sidebarMenu li a {
  text-decoration:none;
//  font-size: 11px;
  font-weight: bold;
  color:black;
}

.sidebarMenu li a:active,
.sidebarMenu li a:hover {
  color:#ef9800;
}

/* forms */

.formErrors {
  color: red;
}

/* tables */

.entityTable {
  margin: 10px 0;
}

.entityTable td,
.entityTable th {
  text-align: left;
  vertical-align: top;
  border: none;
  padding: 5px;
}

.entityTable th {
  font-weight: bold;
}

/* hover tooltips */

div.help {
  float: right;
  margin-right: 120px;

}

a.info {
  position: relative;
  z-index: 24;
  color: #000;
  text-decoration: none;
}

a.info:hover {
  z-index: 25;
}

a.info span {
  display: none;
}

a.info:hover span {
  display: block;
  position: absolute;
  top: 0em;
  left: 3em;
  width: 17em;
  background-color: #263f00;
  color: #fff;
  font-size: 10px;
  text-align: justify;
  padding: 2px 4px;
  opacity: 0.9;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

a.info ul {
  color: #159;
  background-color: #BBD9EE;
}

/* action boxes */

div.actions {
  font-size: 11px;
  margin-top: 1.5em;
  padding: 0px 10px;
  background-color:#f6f6e6;
  border: 1px solid transparent;
  border-top: 1px solid #e6e6c0;
}

div.actions h2,
div.actions ul {
  margin: 10px 0;
}

div.actions ul,
ul.users {
  padding-left: 6px;
}

div.actions ul li,
ul.users li {
  margin: 0.3em 0;
  list-style: none;
  background-repeat: no-repeat;
  background-position: left middle;
  line-height: 16px;
  padding: 0 0 2px 22px;
}

div.actions ul li.create {
  background-image: url(/img/page_white_edit.png);
}

div.actions ul li.edit {
  background-image: url(/img/page_white_edit.png);
}

div.actions ul li.delete {
  background-image: url(/img/page_white_delete.png);
}

div.actions ul li.publish {
  background-image: url(/img/page_white_go.png);
}

/* user lists */

ul.users {
  margin: 0;
}

ul.users li.manager {
  background-image: url(/img/user.png);
}

ul.users li.writer {
  background-image: url(/img/user_green.png);
}

ul.users li.reader {
  background-image: url(/img/user_orange.png);
}

/* maps */

.mapTool {
  background-color:#e6e6c0;
  font-size: 11px;
  position:relative;
  padding: 8px;   
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#projectMap {
  width: 682px;
  height: 520px;
  float: right;
}

#projectMapOptions {
  height: 100%;
  width: 245px;
  float: left;
}

/* jquery-ui */

.ui-autocomplete-loading {
  background: white url('jquery-ui/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* openlayers */

.olMap label {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
}

.olControlNoSelect {
  color: #ffffff !important;
}

.olControlScaleLineTop,
.olControlScaleLineBottom {
  border-width: 1px !important;
  border-color: #ffffff !important;
}

.olControlScaleLineBottom {
  margin-top: -1px !important;
}

div.olControlMousePosition {
  right: 4px !important;
  bottom: 22px !important;
}

.olControlScaleLine {
  bottom: 35px !important;
  left: 5px !important;
}

div.olControlPanel {
  top: 0px !important;
  right: 29px !important;
  position: absolute !important;
  float: right !important;
}

.olControlPanel div {
  display: block !important;
  width:  22px !important;
  height: 22px !important;
  border: solid 1px #adbc6b !important;
  margin-top: 5px !important;
  background-color: #e6e6c0 !important;
}

.olControlNavToolbar,
.olControlEditingToolbar {
  top: 67px !important;
  left: 8px !important;
  margin: 0 !important;
  background: rgba(255,255,255,0.4) !important;
  -khtml-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
}

.olControlNavToolbar div,
.olControlEditingToolbar div {
  margin: 2px !important;
}

.zoomButtonItemInactive {
  background-image: url("../img/zoomButton.png") !important;
  background-position:center !important;
  background-repeat:no-repeat !important;
  height:22px !important;
  float:right !important;
}   

.olControlLoadingPanel {
  border: solid 1px #adbc6b !important;
  background-image: url(../img/ajax-loader.gif) !important;
  background-color: #e6e6c0 !important;
  width: 22px !important;
  height: 22px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-top: 5px !important;
  right: 5px !important;
}

.olControlLayerSwitcher {
  top: 31px !important;
}

.olControlDrawFeatureItemInactive {
  background-position: -26px -1px !important;
}

.olControlDrawFeatureItemActive {
  background-position: -26px -24px !important;
}
