<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <bean id="authenticationProvider" class="org.oztrack.controller.OzTrackAuthenticationProvider"/>

    <bean id="permissionEvaluator" class="org.oztrack.controller.OzTrackPermissionEvaluator"/>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="authenticationProvider"/>
    </security:authentication-manager>

    <bean id="methodSecurityExpressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="permissionEvaluator"/>
    </bean>

    <bean id="webSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="permissionEvaluator"/>
    </bean>

    <bean id="loginUrlAuthenticationEntryPoint" class="org.oztrack.controller.OzTrackLoginUrlAuthenticationEntryPoint">
        <constructor-arg name="loginFormUrl" value="/login"/>
    </bean>

    <security:http
        use-expressions="true"
        authentication-manager-ref="authenticationManager"
        entry-point-ref="loginUrlAuthenticationEntryPoint">
        <security:intercept-url pattern="/**" access="permitAll"/>
        <security:logout logout-url="/logout"/>
        <security:session-management/>
        <security:expression-handler ref="webSecurityExpressionHandler"/>
    </security:http>
</beans>