html { height: 100% }

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:14px;
    background-color: #263f00;
    background-repeat: no-repeat;
}

h1 {
    font-size:1.5em;
    font-weight:bold;
    color:black;
}

h2 {
    font-size:1.2em;
    font-weight:bold;
    color:#ef9800;
}

p {
    font-size:0.9em;
    color:black;

    }

a {
    color: black;
}

a:visited {
    color:#61702a;
}

a:hover {
 color:#ef9800;
}


/*
  main divs
*/

#container {
	margin: auto auto;
	margin-top:20px;
	width: 990px;
	background-color:#FBFEE9;
}

#top_header {
    background-image: url('../images/header_logo.gif');
    background-repeat: no-repeat;
    background-position: left;
    width:100%;
    height: 140px;
}

#nav {
    padding-left: 200px;
    background-color: #131f00;

}

#crumbs {
    position:relative;
    float:left;
    padding-left:230px;

}

#crumbs, #login {
     background-color:#fbfee9;
     font-size:0.7em;
     padding-top:0.7ex;
}


#login {
    position:relative;
    float: right;
    padding-right: 20px;
    margin-left:-30px;

}


#leftMenu  {
    position:absolute;
    float:left;
    width: 175px;
    height: 300px;
    margin-left:20px;
    margin-top:30px;
    padding-bottom:20px;
}

#main {
    margin-left:220px;
    margin-top:30px;
    padding-bottom:20px;
    background-color:#fbfee9;

}



#footer {
    bottom: 0;
    font-size: 0.7em;
    margin: 0.3em auto;
    position: relative;
    float: right;
    color:#fbfee9;
}

/*
  nav elements
*/


#navMenu {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:1.2ex;
    padding-bottom:1.2ex;
    list-style-type: none;
    list-style-image: none;
    display:inline-block;

}

#navMenu a, #navMenu a:visited {
    color:#ffffff;
    font-size:0.9em;
    font-weight:bold;
    padding-right: 20px;
    padding-left: 20px;
    color:#ffffff;
    text-decoration:none;
}

#navMenu a:hover, #navMenu a:active {
    color:#f7a700;
    font-weight:bolder;
}

#navMenu li {
    position:relative;
    float:left;
}

#navMenu ul {
    padding:0px; margin:0px; display:block; display:inline;

}

#navMenu li ul {
    position:absolute;
    left:0px;
    top:0px;
    margin-top:3ex;
    width: 180px;
    line-height:4ex;
    background-color: #131f00;
    display:none;
    z-index:1;
	    /*--Bottom right rounded corner--*/
    	-moz-border-radius-bottomright: 5px;
    	-khtml-border-radius-bottomright: 5px;
    	-webkit-border-bottom-right-radius: 5px;
    	/*--Bottom left rounded corner--*/
    	-moz-border-radius-bottomleft: 5px;
    	-khtml-border-radius-bottomleft: 5px;
    	-webkit-border-bottom-left-radius: 5px;


}

#navMenu li ul li{
    display:block;
    list-style-type: none;
    list-style-image: none;}



#crumbs a, #crumbs a:visited, #login a, #login a:visited {
    color:#263f00;
    text-decoration:none;

}

#crumbs a:hover,#crumbs a:active, #login a:hover, #login a:active  {
    color:#ef9800;

}


#leftMenu ul {
    padding: 0px;
    margin: 0px;
}

#leftMenu ul li ul {
    padding-left:10px;
}

#leftMenu ul li ul li {
    border: 0px;
    padding-top: 0.4ex;
    padding-bottom: 0.3ex;
}

#leftMenu li    {

    list-style-type: none;
    list-style-image: none;
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 14px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-bottom: dashed 1px black;
}

#leftMenu li a {
    text-decoration:none;
    font-size: 0.8em;
    font-weight: bolder;
    color:black;
}

#leftMenu li a:active, #leftMenu li a:hover  {
    color:#ef9800;
}


#noSessionError {
    font-style: italic; color:red;
}


#map_canvas {
    margin-left: 10px;
    height: 100%;
    width:600px;
    height:350px;
}


/*
    forms
*/


form {
    background-color:#e6e6c0;
    width:80%;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:15px;
    font-size: 0.8em;

}

.formHeader,.formSubheader{
    color:#ef9800;
    font-size:18px;
    font-weight:bold;
}

.formSubheader {
    font-size:14px;
    padding-top:10px;
}

.formErrors { font-style: italic; color:red; }

form div {

  clear: left;
  display: block;
  margin: 5px 0 0 0;
  padding: 1px 3px;

}

form div label {
  display: block;
  float: left;
  width: 140px;
  padding-left:5px;
  padding-top:5px;
  padding-right:15px;
  margin: 0 0 5px 0;
  text-align: left;
  font-weight:bold;
}

form div select, form div textarea, form div input {

  padding-top: 3px;

  margin: 0 0 0 0;
}

form div .checkbox, form div .radiobutton {
        width: 20px;
}

.checkboxDiv, .formButton {
    width:280px;
    margin-left:160px;
}




#localTimeConversionHours {
    width:20px;
}



.oztrackButton {
    background-color:#adbc6b;
    border: solid 1px #839537;
    width:53px;
    color:#000000;
    font-weight:bold;
    font-size:1.2em;
    height:20px;
    font-family:Verdana;
    margin-top:5px;
    padding-bottom:3px;
}

.oztrackButton:hover {
    color:#ffffff;
    background-color:#263f00;

}

/*
  tables
*/

table {
    border-collapse: collapse;
    width: 80%;
    font-size: 0.8em;
}

th {
    font-weight: bold;
    background-color:#f5ce7c;
    padding: 5px 5px;
    border: #263f00 solid 1px;
}

td {
       padding: 5px 5px;
       border: #263f00 solid 1px;
}

tbody tr:hover {
    background-color:#e6e6c0;
}

.infoTable {
    text-align:center;

}

.detailTable {
    text-align:left;
}

.infoTable  th {

}

.infoTable  td {

}


.detailTable td {
    padding-right: 30px;
    padding-top:5px;
}

.dataTableNav {
    text-align:center;
    font-size: 0.8em;

}

.accordianHead .formHeader {
    font-size: 1em;
}

#alloztrackprojectsTableHeader, #alloztrackprojectsTable {
    width: 80%;
}

#alloztrackprojectsTableHeader td, #alloztrackprojectsTable td {
    border:none;
}

#alloztrackprojectsTable {
    margin-left:50px;
    margin-top:10px;
    background-color:#e6e6c0;
}
/*

#topHeader, #nav, #crumbs, #login, #leftMenu, #main {
    border: solid red 1px;
}

*/



