html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:14px;
    background-color: #263F00;
    background-repeat: no-repeat;
}

h1 {
    font-size:1.5em;
    font-weight:bold;
    color:black;
    margin-top:0px;
}

h2 {
    font-size:1.2em;
    font-weight:bold;
    color:#ef9800;
}

td h2 {
    font-size:1.6em;
    margin:0px;
}

#content {
    margin: 0 20px;
}

#content p {
	margin-right: 20px;
}

p {
    font-size:0.9em;
    color:black;
/*	width:90%;*/
}

ul {
    color: orange;
}

ul li {
    color: black;
}

ul li span {
    color: black;
    font-size:0.9em;
}

a {
    color: black;
}
/*
a:visited {
    color:#61702a;
} */

a:hover {
 color:#ef9800;
}

/* main divs */

#container {
	margin: 0 auto;
	width: 990px;
	background-color: #FBFEE9;
    box-shadow: 0 0 6px 6px #223900;
}

#header_left {
	background-color: #ffffff;
    background-image: url('../images/header_logo.gif');
    background-repeat: no-repeat;
    background-position: center center;
    width:300px;
    height: 140px;
    float:left;
    
}

#header_right {
    background-image: url('../images/header_croc.jpg');
    background-repeat: no-repeat;
    background-position: left;
    margin-left:300px;
    height:140px;
}	

#login {
    position: relative;
    float: right;
    top: 115px;
    height: 15px;
    padding: 0.5em 0.9em;
    color: #ffffff;
    background-color: #666;
    font-weight: bold;
}

#login a {
	color: #ffffff;
}	

#nav {
    text-align: center;
    background-color: #131f00;
}

#navMenu {
    padding: 0;
}	

#crumbs {
    background-color:#fbfee9;
    font-size: 0.8em;
    padding-bottom: 0.8em;
    margin: 10px 20px 20px 20px;
    border-bottom: 1px solid #e8e8e8;
}

#login {
    font-size: 0.8em;
}

#content.narrow {
    margin-left: 240px;
}

#content.wide {
}

#content {
    min-height: 300px;
}

#leftMenu {
    position: relative;
    float: left;
    width: 200px;
    margin: 0 20px 0 20px;
}	

#main {
    margin: 20px 0 20px 0;
    background-color: #fbfee9;
}

#footer {
    text-align: center;
    border-top: 1px solid #d0d0bb;
    background: #f0f0da;
}

#logos {
   padding: 16px 0;
}

#logos img {
    margin: 0 20px;
    border: none;
}

#copyright {
    padding-bottom: 8px;
    color: #666;
    font-size: 0.7em;
    text-align: center;
}

.clearboth {
    clear: both;
    width: 0px;
    height: 0px;
    margin: 0px;
}

/* nav elements */

#navMenu {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1.2ex;
    padding-bottom: 1.2ex;
    list-style-type: none;
    list-style-image: none;
    display: inline-block;
}

#navMenu a,
#navMenu a:link,
#navMenu a:visited,
#navMenu a:hover,
#navMenu a:active {
    margin: 0 25px;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}

#navMenu a,
#navMenu a:link,
#navMenu a:visited {
    color:#ffffff;
}

#navMenu a:hover,
#navMenu a:active {
    color:#f7a700;
}

#navMenu ul {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#navMenu li {
    position: relative;
    float: left;
    padding-left: 0px;
}

#navMenu a.active,
#navMenu a.active:link,
#navMenu a.active:visited {
    color: #ef9800;
}

#crumbs a,
#crumbs a:link,
#crumbs a:visited {
    color:#263f00;
    text-decoration:none;
}

#crumbs a:hover,
#crumbs a:active {
    color: #ef9800;
}

#crumbs .active {
    color: #ef9800;
}

#login a:hover,
#login a:active {
    color: #ef9800;
}

.sidebarMenu ul {
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:30px;
    padding:0px;
}

.sidebarMenu ul li ul {
    padding-left:10px;
}

.sidebarMenu ul li ul li {
    border: 0px;
    padding-top: 0.4ex;
    padding-bottom: 0.3ex;
}

.sidebarMenu li    {
    list-style-type: none;
    list-style-image: none;
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 14px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-bottom: dashed 1px black;
}

.sidebarMenu li a {
    text-decoration:none;
    font-size: 11px;
    font-weight: bolder;
    color:black;
}

.sidebarMenu li a:active, .sidebarMenu li a:hover  {
    color:#ef9800;
}

.errorMessage {
    font-style: italic;
    color:red;
}

/* maps */

.mapTool {
    background-color:#e6e6c0;
    font-size: 0.8em;
    position:relative;
	padding: 8px;   
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#projectMap {
    width: 682px;
    height: 520px;
    float: right;
}

#projectMapOptions {
    height: 100%;
    width: 245px;
    float: left;
}

/* forms */

form {
    background-color:#e6e6c0;
    width:90%;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:15px;
    font-size: 0.8em;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.formHeader,.formSubheader{
    color:#ef9800;
    font-size:18px;
    font-weight:bold;
}

.formSubheader {
    font-size:14px;
    padding-top:10px;
}

form div {

  display: block;
  margin: 5px 0 0 0;
  padding: 1px 3px;

}

table.form {
}

table.form th,
table.form td {
    vertical-align: top;
    padding: 5px 0;
}

table.form .form-label {
}

table.form .form-field {
    width: 360px;
}

table.form .form-help {
    width: 40px;
    padding: 0 10px;
}

table.form th,
form div label {
    width: 160px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 15px;
    margin: 0 0 5px 0;
    text-align: right;
    font-weight: bold;
}

form div label {
    display: block;
    float: left;
}

form div select, form div textarea, form div input {
  width:250px;
  padding-top: 3px;
  margin: 0 0 0 0;
}

.shortInputLabel {

 display:inline;
 float:none;
 width:30px;
}

#addRemoveLinks {
  width:75px;
  text-align:center;
  font-weight:bold;
}

.shortInputBox {
  margin-top:5px;
  width:120px;
  display:inline;
}

.formErrors {
    padding-left: 180px;
    font-style: italic;
    color:red;
}

form div .checkbox, form div .radiobutton {
        width: 20px;
}

.checkboxDiv  {
    width:280px;
    margin-left:180px;
}

#localTimeConversionHours {
    width:30px;
}

.oztrackButton, a.oztrackButton input.oztrackButton{
    background-color:#adbc6b;
    border: solid 1px #839537;
    width:100px;
    color:#000000;
    font-size:11px;
    font-weight:bold;
    font-family:Arial,Verdana, sans-serif;
    margin-top:5px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    text-decoration:none;
}

.oztrackButton:hover {
    color:#ffffff;
    background-color:#263f00;

}

/* hover tooltips */

div.help {
    float:right;
    margin-right:120px;

}
a.info {
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    text-decoration:none
}

a.info:hover{z-index:25;}

a.info span{display: none}

a.info:hover span { /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:0em; left:3em; width:17em;
   /* border: 10px solid #e6e6c0; */
    background-color:#263f00;
    color:#fff;
    font-size: 0.9em;
    text-align: justify;
    padding-top:2px;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:2px;
    opacity:0.9;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

a.info ul {
	background-color:#BBD9EE; color:#159;
	font-size: 1em;
}

/* tables */

table {
    border-collapse: collapse;
}

tbody tr:hover {
    background-color:#e6e6c0;
}

.dataTable {
    margin-top: 10px;
    font-size: 0.7em;
}

.dataTable  th {
    text-align: center;
    font-weight: bold;
    background-color:#f5ce7c;
    padding: 5px 5px;
    border: #263f00 solid 1px;
}

.dataTable  td {
    text-align: center;
    padding: 5px 5px;
    border: #263f00 solid 1px;
}

.dataTableNav {
    width:92%;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 0.8em;
}

.dataTableNav a {
    font-weight:bold;
    text-decoration:none;
}

.formHeader {
    font-size: 1em;
}

.entityTable {
    margin: 10px 0;
}

.entityTable td,
.entityTable th {
    font-size: 0.8em;
    text-align: left;
	vertical-align: top;
    border: none;
    padding: 5px;
}

.entityTable th {
	font-weight: bold;
}	

#registrationTable {
    width: 50%;
}

.infoTable {
    margin: 10px;
    font-size: 0.9em;
}

.infoTable  th {
    font-weight: bold;
    border: #263f00 solid 1px;
    padding: 5px;
}

.infoTable  td {
    border: #263f00 solid 1px;
    padding: 5px;
}

div.actions {
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 0px 10px;
    background-color:#f6f6e6;
    border: 1px solid transparent;
    border-top: 1px solid #e6e6c0;
}

div.actions h2,
div.actions ul {
    margin: 10px 0;
}

div.actions ul {
    padding-left: 6px;
}

div.actions ul li {
    margin: 0.3em 0;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left middle;
    line-height: 16px;
    padding: 0 0 2px 22px;
}

div.actions ul li.edit {
    background-image: url(/images/page_white_edit.png);
}

div.actions ul li.delete {
    background-image: url(/images/page_white_delete.png);
}

div.actions ul li.publish {
    background-image: url(/images/page_white_go.png);
}

/* openlayers */

.olControlNoSelect {
    color: #ffffff !important;
}

.olControlScaleLineTop,
.olControlScaleLineBottom {
    border-width: 1px !important;
    border-color: #ffffff !important;
}

.olControlScaleLineBottom {
    margin-top: -1px !important;
}

div.olControlMousePosition {
    right: 4px !important;
    bottom: 22px !important;
}

.olControlScaleLine {
    bottom: 35px !important;
    left: 5px !important;
}

div.olControlPanel {
    top: 0px !important;
    right: 29px !important;
    position: absolute !important;
    float: right !important;
}

.olControlPanel div {
    display: block !important;
    width:  22px !important;
    height: 22px !important;
    border: solid 1px #adbc6b !important;
    margin-top: 5px !important;
    background-color: #e6e6c0 !important;
}

.olControlNavToolbar,
.olControlEditingToolbar {
    top: 67px !important;
    left: 8px !important;
    margin: 0 !important;
    background: rgba(255,255,255,0.4) !important;
    -khtml-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;
}

.olControlNavToolbar div,
.olControlEditingToolbar div {
    margin: 2px !important;
}

.zoomButtonItemInactive {
    background-image: url("../images/zoomButton.png") !important;
    background-position:center !important;
    background-repeat:no-repeat !important;
    height:22px !important;
    float:right !important;
}	

.olControlLoadingPanel {
    border: solid 1px #adbc6b !important;
    background-image: url(../images/ajax-loader.gif) !important;
    background-color: #e6e6c0 !important;
    width: 22px !important;
    height: 22px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-top: 5px !important;
    right: 5px !important;
}

.olControlLayerSwitcher {
    top: 31px !important;
}

.olControlDrawFeatureItemInactive {
    background-position: -26px -1px !important;
}

.olControlDrawFeatureItemActive {
    background-position: -26px -24px !important;
}

/* formalize */

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-color: #839537;
    background: #adbc6b;
    color: #000000;
    text-shadow: none;
    padding: 2px 3px;
    font-weight: bold;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    border-color: #839537;
    color: #ffffff;
    background: #263f00;
}

button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  color: #ffffff;
  background: #263f00;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #839537;
}
