html { height: 100% }

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:14px;
    background-color: #263f00;
    background-repeat: no-repeat;
}

h1 {
    font-size:1.5em;
    font-weight:bold;
    color:black;
    margin-top:0px;
}

h2 {
    font-size:1.2em;
    font-weight:bold;
    color:#ef9800;
}

td h2 {
    font-size:1.6em;
    margin:0px;
}

#content {
	margin-right:20px;
}

#content p {
	margin-right:20px;
}

p {
    font-size:0.9em;
    color:black;
/*	width:90%;*/
}

ul {
    color: orange;
}

ul li {
    color: black;
}

ul li span {
    color: black;
    font-size:0.9em;
}

a {
    color: black;
}
/*
a:visited {
    color:#61702a;
} */

a:hover {
 color:#ef9800;
}



/*
  main divs
*/

#container {
	margin: auto auto;
	margin-top:20px;
	width: 990px;
	background-color:#FBFEE9;
}

#header_left {
	background-color: #ffffff;
    background-image: url('../images/header_logo.gif');
    background-repeat: no-repeat;
    background-position: center center;
    width:300px;
    height: 140px;
    float:left;
    
}

#header_right {
    background-image: url('../images/header_croc.jpg');
    background-repeat: no-repeat;
    background-position: left;
    margin-left:300px;
    height:140px;
}	

#login{
    position: relative;
    float: right;
    top: 115px;
    height: 15px;
    padding: 0.5em 0.9em;
    color: #ffffff;
    background-color: #666;
    font-weight: bold;
}

#login a {
	color: #ffffff;
}	

#nav {
    background-color: #131f00;

}

#navMenu {
	padding-left: 300px;
}	

#crumbs {
    background-color:#fbfee9;
}

#crumbs {
    font-size: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

#login {
    font-size: 0.8em;
}

#crumbs {
    margin-left: 300px;
}

#content.narrow {
    margin-left: 300px;
}

#content.wide {
    margin-left: 40px;
}

#content {
    min-height: 300px;
}

#leftMenu {
    position:relative;
    float:left;
    width: 175px;
    margin-left:50px;
    padding-bottom:20px;
}	

#logos {
    width:150px;
    margin: 10px 0;
    text-align: center;
}

#logos img {
    margin: 12px 0;
    border:none;
}

#main {
    margin-top: 10px;
    padding-bottom: 20px;
    background-color: #fbfee9;
}


#footer {
    bottom: 0;
    font-size: 0.7em;
    margin: 0.3em auto;
    position: relative;
    float: right;
    color:#fbfee9;
}
 .clearboth {
    clear: both;
    width: 0px;
    height: 0px;
    margin: 0px;
}

/* nav elements */

#navMenu {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1.2ex;
    padding-bottom: 1.2ex;
    list-style-type: none;
    list-style-image: none;
    display: inline-block;
}

#navMenu a,
#navMenu a:link,
#navMenu a:visited,
#navMenu a:hover,
#navMenu a:active {
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
}

#navMenu a,
#navMenu a:link,
#navMenu a:visited {
    color:#ffffff;
}

#navMenu a:hover,
#navMenu a:active {
    color:#f7a700;
}

#navMenu ul {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#navMenu li {
    position: relative;
    float: left;
    padding-left: 0px;
}

#navMenu a.active,
#navMenu a.active:link,
#navMenu a.active:visited {
    color: #ef9800;
}

#crumbs a,
#crumbs a:link,
#crumbs a:visited {
    color:#263f00;
    text-decoration:none;
}

#crumbs a:hover,
#crumbs a:active {
    color: #ef9800;
}

#crumbs .active {
    color: #ef9800;
}

#login a:hover,
#login a:active {
    color: #ef9800;
}

.sidebarMenu ul {
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:30px;
    padding:0px;
}

.sidebarMenu ul li ul {
    padding-left:10px;
}

.sidebarMenu ul li ul li {
    border: 0px;
    padding-top: 0.4ex;
    padding-bottom: 0.3ex;
}

.sidebarMenu li    {
    list-style-type: none;
    list-style-image: none;
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 14px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-bottom: dashed 1px black;
}

.sidebarMenu li a {
    text-decoration:none;
    font-size: 11px;
    font-weight: bolder;
    color:black;
}

.sidebarMenu li a:active, .sidebarMenu li a:hover  {
    color:#ef9800;
}


.errorMessage {
    font-style: italic; color:red;
}


/*
    maps
*/

#map_canvas {
    margin-left: 10px;
    height: 100%;
    width:600px;
    height:350px;
    z-index:2;
}

#sightingMap {
    width: 280px;
    height:100%;
    height: 260px;
    margin-top:0px;
}


.mapTool {
   background-color:#e6e6c0;
   font-size: 0.8em;
   width:900px;
   position:relative;
   float:left;
	padding: 8px;   
    /*--Top right rounded corner--*/
    -moz-border-radius-topright: 10px;
    -khtml-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    /*--Top left rounded corner--*/
    -moz-border-radius-topleft: 10px;
    -khtml-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    /*--Bottom right rounded corner--*/
    -moz-border-radius-bottomright: 10px;
    -khtml-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    /*--Bottom left rounded corner--*/
    -moz-border-radius-bottomleft: 10px;
    -khtml-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;

}

.animalInfo {
	float:left;
	font-size: 0.9em;
	/*border: solid 1px black;*/
	margin-left:8px;
	margin-top:10px;
	margin-bottom:10px;
}

.animalInfo table {
	margin-top:5px;
}


.animalInfo .label {
	width:7em;
}


#homeMap, #projectMap{
    width: 650px;
    height:500px;
    float:right;
}

#homeMapOptions, #projectMapOptions  {
    height:100%;
    width:245px;
    float:left;
}

.homeMapPopup {
/*
	background-color:#e6e6c0;
	opacity:0.9;
*/
}

#accordion .ui-accordion-content {
    padding-left: 5px;
    padding-right: 5px;
}

#animalPanel, #homeRangeCalculatorPanel, #projectMapHelp {
	height:350px;
}

#animalHeader {
    width: 230px;
}

#projectMapHelp p {

	text-align:justify;
	
}

.citation {
	font-weight:bold;
	text-align:left;

}	

form .baseLayersDiv, .dataLayersDiv {
    margin:0px;
    padding:0px;
}

form .dataLayersDiv input, form .baseLayersDiv input {
    width:25px;
}


.baseLbl, .dataLbl {
    width:100px;
    font-weight: bold;
    margin-top:5px;
}

.olLayerGoogleCopyright, .olLayerGoogleV3 {
    display:none;
}

.olControlNoSelect {
    color:#ffffff;
}

#mapToolForm {
    padding-left:0px;
    padding-top:0px;
    width:100%;
    height:100%;
}

.smallSquare {
	display:block;
	height:14px;
	width:14px;
	float:left;
	margin-right:5px;
	margin-left:5px;
}	




/*
    forms
*/

form {
    background-color:#e6e6c0;
    width:90%;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:15px;
    font-size: 0.8em;
    /*--Top right rounded corner--*/
    -moz-border-radius-topright: 10px;
    -khtml-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    /*--Top left rounded corner--*/
    -moz-border-radius-topleft: 10px;
    -khtml-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    /*--Bottom right rounded corner--*/
    -moz-border-radius-bottomright: 10px;
    -khtml-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    /*--Bottom left rounded corner--*/
    -moz-border-radius-bottomleft: 10px;
    -khtml-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;

}

.formHeader,.formSubheader{
    color:#ef9800;
    font-size:18px;
    font-weight:bold;
}

.formSubheader {
    font-size:14px;
    padding-top:10px;
}



form div {

  display: block;
  margin: 5px 0 0 0;
  padding: 1px 3px;

}

form div label {
   display: block;
  float: left;
  width: 160px;
  padding-left:5px;
  padding-top:5px;
  padding-right:15px;
  margin: 0 0 5px 0;
  text-align: right;
  font-weight:bold;
}

form div select, form div textarea, form div input {
  width:250px;
  padding-top: 3px;
  margin: 0 0 0 0;
}

.shortInputLabel {

 display:inline;
 float:none;
 width:30px;
}

#addRemoveLinks {
  width:75px;
  text-align:center;
  font-weight:bold;
}

.shortInputBox {
  margin-top:5px;
  width:120px;
  display:inline;
}

.formErrors {
    padding-left: 180px;
    font-style: italic;
    color:red;
}

form div .checkbox, form div .radiobutton {
        width: 20px;
}

.checkboxDiv  {
    width:280px;
    margin-left:180px;
}


#localTimeConversionHours {
    width:30px;
}

#sightingLatitude, #sightingLongitude {
    width:120px;
}

.oztrackButton, a.oztrackButton input.oztrackButton{
    background-color:#adbc6b;
    border: solid 1px #839537;
    width:100px;
    color:#000000;
    font-size:12px;
    font-weight:bold;
    font-family:Arial,Verdana, sans-serif;
    margin-top:5px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    text-decoration:none;
}



.oztrackButton:hover {
    color:#ffffff;
    background-color:#263f00;

}

/*****************************************************/
/* hover tooltips */
/*****************************************************/

div.help {
    float:right;
    margin-right:120px;

}
a.info {
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    text-decoration:none
    }

a.info:hover{z-index:25;}

a.info span{display: none}

a.info:hover span { /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:0em; left:3em; width:17em;
   /* border: 10px solid #e6e6c0; */
    background-color:#263f00;
    color:#fff;
    font-size: 0.9em;
    text-align: justify;
    padding-top:2px;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:2px;
    opacity:0.9;
    
        /*--Top right rounded corner--*/
    -moz-border-radius-topright: 5px;
    -khtml-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    /*--Top left rounded corner--*/
    -moz-border-radius-topleft: 5px;
    -khtml-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    /*--Bottom right rounded corner--*/
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    /*--Bottom left rounded corner--*/
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
	}

a.info ul {
	background-color:#BBD9EE; color:#159;
	font-size: 1em;

	}


















/*
  tables
*/

table {
    border-collapse: collapse;

}

tbody tr:hover {
    background-color:#e6e6c0;
}

.dataTable {
    margin-top:10px;
    text-align:center;
    font-size: 0.7em;
    width:92%;
}

.dataTable  th {
    font-weight: bold;
    background-color:#f5ce7c;
    padding: 5px 5px;
    border: #263f00 solid 1px;

}

.dataTable  td {
    padding: 5px 5px;
    border: #263f00 solid 1px;
}


.dataTableNav {
    width:92%;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 0.8em;

}

.dataTableNav a {
    font-weight:bold;
    text-decoration:none;
}


.formHeader {
    font-size: 1em;
}

.projectListTableHeader, .projectListTable {
    font-size: 0.8em;
}

.projectListTableHeader td, .projectListTable td {
    border:none;
    padding: 5px 5px;
}

.projectListTable .projectFieldName {
	font-weight:bold;
	width:120px;
	vertical-align:top;
}	

.projectListTableHeader td {
    width:33%;
}

.projectListTable {
    margin-top:10px;
    margin-bottom:10px;
/*    background-color:#e6e6c0;*/
}

.projectListTable td {
    padding-left:10px;
}

#contactsTable {
    font-size:0.8em;
}

#registrationTable {
    width: 50%;
}

.infoTable {
    margin: 10px;
    font-size: 0.9em;
}

.infoTable  th {
    font-weight: bold;
    border: #263f00 solid 1px;
    padding: 5px;

}

.infoTable  td {
    border: #263f00 solid 1px;
    padding: 5px;
}

div.olControlPanel {
    top: 0px;
    right: 29px;
    position: absolute;
    float:right;
    
}
.olControlPanel div {
    display: block;
    width:  22px;
    height: 22px;
    border: solid 1px #adbc6b;
    margin-top: 5px;
    background-color: #e6e6c0
}

.helpButtonItemInactive {
    background-image: url("../images/help.png");
    background-position:center;
    background-repeat:no-repeat;
    height:22px;
    float:right;
}

.zoomButtonItemInactive {
    background-image: url("../images/zoomButton.png");
    background-position:center;
    background-repeat:no-repeat;
    height:22px;
    float:right;
}	

.olControlLoadingPanel {
       border: solid 1px #adbc6b;
       background-image:url(../images/ajax-loader.gif);
       background-color:#e6e6c0;
		width:22px;
		height:22px;
       background-position:center;
       background-repeat:no-repeat;
       margin-top:5px;
       right:5px;
       display: none;
   }


#bbWKT {
	display:none;
}
