<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="dataFileRunner" class="org.oztrack.data.loader.DataFileRunner"/>
    <bean id="dataFileJobDetailFactory" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
      <property name="targetObject" ref="dataFileRunner" />
      <property name="targetMethod" value="processNext" />
      <property name="concurrent" value="false" />
    </bean>
    <bean id="dataFileTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="dataFileJobDetailFactory" />
        <property name="repeatInterval" value="5000" />
        <property name="startDelay" value="10000" />
    </bean>

    <bean id="embargoUpdater" class="org.oztrack.app.EmbargoUpdater"/>
    <bean id="embargoUpdaterJobDetailFactory" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
      <property name="targetObject" ref="embargoUpdater" />
      <property name="targetMethod" value="run" />
      <property name="concurrent" value="false" />
    </bean>
    <bean id="embargoUpdaterTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="embargoUpdaterJobDetailFactory" />
        <!-- Run at 1am every day (see http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger) -->
        <property name="cronExpression" value="0 0 1 * * ?" />
        <property name="startDelay" value="10000" />
    </bean>

    <bean id="embargoNotifier" class="org.oztrack.app.EmbargoNotifier"/>
    <bean id="embargoNotifierJobDetailFactory" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
      <property name="targetObject" ref="embargoNotifier" />
      <property name="targetMethod" value="run" />
      <property name="concurrent" value="false" />
    </bean>
    <bean id="embargoNotifierTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="embargoNotifierJobDetailFactory" />
        <!-- Run at 2am every day (see http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger) -->
        <property name="cronExpression" value="0 0 2 * * ?" />
        <property name="startDelay" value="10000" />
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="dataFileJobDetailFactory" />
                <ref bean="embargoUpdaterJobDetailFactory" />
                <ref bean="embargoNotifierJobDetailFactory" />
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="dataFileTrigger" />
                <ref bean="embargoUpdaterTrigger" />
                <ref bean="embargoNotifierTrigger" />
            </list>
        </property>
    </bean>
</beans>