<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode" value="2"/>
        <property name="locations">
            <list>
                <value>classpath:conf/properties/application.properties</value>
            </list>
        </property>
    </bean>

    <bean id="log4jInitialization"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass"
                  value="org.springframework.util.Log4jConfigurer"/>
        <property name="targetMethod" value="initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:conf/properties/log4j.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="org.oztrack"/>

    <import resource="applicationContext-security.xml"/>
    <import resource="applicationContext-data.xml"/>
    <import resource="applicationContext-quartz.xml"/>
    
    <bean id="applicationContext" class="org.oztrack.app.OzTrackConfigurationImpl">
        <property name="applicationTitle" value="${application.title}"/>
        <property name="applicationEmail" value="${application.email}"/>
        <property name="smtpServer" value="${application.emailServer}"/>
        <property name="version" value="${application.version}"/>
        <property name="uriPrefix" value="${application.uri.prefix}"/>
        <property name="dataDir" value="${application.dataDir}"/>
        <property name="dataSpaceURL" value="${dataSpaceURL}"/>
        <property name="dataSpaceUsername" value="${dataSpaceUsername}"/>
        <property name="dataSpacePassword" value="${dataSpacePassword}"/>
        <property name="serverProxyName" value="${serverProxyName}"/>
    </bean>

    <bean id="ozTrackApplication" class="org.oztrack.app.OzTrackApplication">
        <property name="applicationContext" ref="applicationContext"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize"><value>100000000</value></property>
    </bean>
</beans>