<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <context:property-placeholder location="classpath:conf/properties/application.properties"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" value="#{@systemProperties}" />
        <property name="targetMethod" value="putAll" />
        <property name="arguments">
            <util:properties>
                <prop key="org.geotools.referencing.forceXY">true</prop>
            </util:properties>
        </property>
    </bean>

    <bean id="log4jInitialization"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="org.springframework.util.Log4jConfigurer"/>
        <property name="targetMethod" value="initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="org.oztrack"/>

    <import resource="applicationContext-security.xml"/>
    <import resource="applicationContext-data.xml"/>
    <import resource="applicationContext-quartz.xml"/>
    <import resource="applicationContext-task.xml"/>

    <bean id="applicationContext" class="org.oztrack.app.OzTrackConfigurationImpl">
        <property name="baseUrl" value="${application.baseUrl}"/>
        <property name="geoServerLocalUrl" value="${application.geoServerLocalUrl}"/>
        <property name="dataSpaceEnabled" value="${application.dataSpaceEnabled}"/>
        <property name="dataSpaceUrl" value="${application.dataSpaceUrl}"/>
        <property name="dataSpaceUsername" value="${application.dataSpaceUsername}"/>
        <property name="dataSpacePassword" value="${application.dataSpacePassword}"/>
        <property name="dataDir" value="${application.dataDir}"/>
        <property name="mailFromName" value="${application.mailFromName}"/>
        <property name="mailFromEmail" value="${application.mailFromEmail}"/>
        <property name="mailServerHostName" value="${application.mailServerHostName}"/>
        <property name="mailServerPort" value="${application.mailServerPort}"/>
        <property name="passwordResetExpiryDays" value="${application.passwordResetExpiryDays}"/>
        <property name="aafEnabled" value="${application.aafEnabled}"/>
        <property name="recaptchaPublicKey" value="${application.recaptchaPublicKey}"/>
        <property name="recaptchaPrivateKey" value="${application.recaptchaPrivateKey}"/>
        <property name="closedAccessDisableDateString" value="${application.closedAccessDisableDate}"/>
    </bean>

    <bean id="ozTrackApplication" class="org.oztrack.app.OzTrackApplication">
        <property name="applicationContext" ref="applicationContext"/>
    </bean>
    
    <bean id="geoServerUploader" class="org.oztrack.geoserver.GeoServerUploader">
        <constructor-arg name="geoServerUsername" value="${application.geoServerUsername}"/>
        <constructor-arg name="geoServerPassword" value="${application.geoServerPassword}"/>
        <constructor-arg name="geoServerBaseUrl" value="${application.geoServerLocalUrl}"/>
        <constructor-arg name="databaseHost" value="${application.databaseHost}"/>
        <constructor-arg name="databasePort" value="${application.databasePort}"/>
        <constructor-arg name="databaseName" value="${application.databaseName}"/>
        <constructor-arg name="databaseUsername" value="${application.databaseUsername}"/>
        <constructor-arg name="databasePassword" value="${application.databasePassword}"/>
    </bean>
    
    <bean id="rserveConnectionPool" class="org.oztrack.util.RserveConnectionPoolFactoryBean">
        <constructor-arg name="numConnections" value="8"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000000"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
</beans>
