<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dataFileLoader" class="org.oztrack.data.loader.DataFileLoader" />

    <bean id="dataFilePoller" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
      <property name="targetObject" ref="dataFileLoader" />
      <property name="targetMethod" value="processNext" />
      <property name="concurrent" value="false" />
    </bean>

    <!-- Simple Trigger -->
    <bean id="simpleTrigger"
        class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="dataFilePoller" />
        <property name="repeatInterval" value="5000" />
        <property name="startDelay" value="10000" />
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
           <list>
              <ref bean="dataFilePoller" />
           </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="simpleTrigger" />
            </list>
        </property>
    </bean>

</beans>