<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <context:component-scan base-package="org.oztrack.controller"/>

    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>

    <bean id="handlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="alwaysUseFullPath" value="true"/>
    </bean>

    <bean id="javaViewResolver" class="org.oztrack.view.JavaViewResolver">
        <property name="viewPrefix" value="java_"></property>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize"><value>100000000</value></property>
    </bean>

    <bean name="/export" class="org.oztrack.controller.SearchQueryExportController"/>
    <bean name="/exportKML" class="org.oztrack.controller.KMLExportController"/>
    <bean name="/dataspace" class="org.oztrack.controller.DataSpaceInterfaceController"/>
    
    <bean name="/about" class="org.oztrack.controller.AboutController"/>
    <bean name="/contact" class="org.oztrack.controller.ContactController"/>
    
    <bean name="/datafiles" class="org.oztrack.controller.DataFileDetailController"/>
    <bean name="/projectreceivers" class="org.oztrack.controller.ProjectReceiversController"/>
    <bean name="/datafiledetail" class="org.oztrack.controller.DataFileDetailController"/>
    <bean name="/searchacoustic" class="org.oztrack.controller.SearchAcousticController"/>
    <bean name="/logout" class="org.oztrack.controller.LogoutController"/>
    
    <bean name="/register" class="org.oztrack.controller.RegisterFormController">
        <property name="sessionForm"><value>false</value></property>
        <property name="commandName"><value>user</value></property>
        <property name="commandClass"><value>org.oztrack.data.model.User</value></property>
        <property name="validator"><bean class="org.oztrack.validator.RegisterFormValidator"/></property>
        <property name="formView"><value>register</value></property>
        <property name="successView"><value>registersuccess</value></property>
    </bean>
            
    <bean name="/login" class="org.oztrack.controller.LoginFormController">
        <property name="sessionForm"><value>false</value></property>
        <property name="commandName"><value>user</value></property>
        <property name="commandClass"><value>org.oztrack.data.model.User</value></property>
        <property name="validator"><bean class="org.oztrack.validator.LoginFormValidator"/></property>
        <property name="formView"><value>login</value></property>
        <property name="successView"><value>redirect:projects</value></property>
    </bean>

    <bean name="/datafileadd" class="org.oztrack.controller.DataFileFormController">
        <property name="sessionForm"><value>false</value></property>
        <property name="commandName"><value>dataFile</value></property>
        <property name="commandClass"><value>org.oztrack.data.model.DataFile</value></property>
        <property name="validator"><bean class="org.oztrack.validator.DataFileFormValidator"/></property>
        <property name="formView"><value>datafileadd</value></property>
        <property name="successView"><value>redirect:datafiles</value></property>
    </bean>

    <bean name="/animalform" class="org.oztrack.controller.AnimalFormController">
        <property name="sessionForm"><value>false</value></property>
        <property name="commandName"><value>animal</value></property>
        <property name="commandClass"><value>org.oztrack.data.model.Animal</value></property>
        <property name="validator"><bean class="org.oztrack.validator.AnimalFormValidator"/></property>
        <property name="formView"><value>animalform</value></property>
        <property name="successView"><value>redirect:projectanimals</value></property>
    </bean>

    <bean name="/searchform" class="org.oztrack.controller.SearchFormController">
        <property name="sessionForm"><value>false</value></property>
        <property name="commandName"><value>searchQuery</value></property>
        <property name="commandClass"><value>org.oztrack.data.model.SearchQuery</value></property>
        <property name="validator"><bean class="org.oztrack.validator.SearchFormValidator"/></property>
        <property name="formView"><value>searchform</value></property>
        <property name="successView"><value>searchform</value></property>
    </bean>

    <bean name="/sighting" class="org.oztrack.controller.SightingFormController">
        <property name="sessionForm"><value>false</value></property>
        <property name="commandName"><value>sighting</value></property>
        <property name="commandClass"><value>org.oztrack.data.model.Sighting</value></property>
        <property name="validator"><bean class="org.oztrack.validator.SightingFormValidator"/></property>
        <property name="formView"><value>sighting</value></property>
        <property name="successView"><value>sightingsuccess</value></property>
    </bean>
</beans>