<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
      <property name="prefix" value="/"/>
      <property name="suffix" value=".jsp"/>
  </bean>

  <bean name="/users" class="org.oztrack.controller.UserListController"/>
  <bean name="/projects" class="org.oztrack.controller.ProjectListController"/>
  <bean name="/projectdetail" class="org.oztrack.controller.ProjectDetailController"/>
  
  <bean name="/register" class="org.oztrack.controller.RegisterFormController">
		<property name="sessionForm"><value>false</value></property>
		<property name="commandName"><value>user</value></property>
		<property name="commandClass"><value>org.oztrack.data.model.User</value></property>
		<property name="validator"><ref bean="registerFormValidator"/></property>
		<property name="formView"><value>register</value></property>
		<property name="successView"><value>registersuccess</value></property>
  </bean>
  <bean id="registerFormValidator" class="org.oztrack.validator.RegisterFormValidator"/>
  		  
  <bean name="/login" class="org.oztrack.controller.LoginFormController">
		<property name="sessionForm"><value>false</value></property>
		<property name="commandName"><value>user</value></property>
		<property name="commandClass"><value>org.oztrack.data.model.User</value></property>
		<property name="validator"><ref bean="loginFormValidator"/></property>
		<property name="formView"><value>login</value></property>
		<property name="successView"><value>redirect:projects</value></property>
  </bean>
  <bean id="loginFormValidator" class="org.oztrack.validator.LoginFormValidator"/>

  <bean name="/projectadd" class="org.oztrack.controller.ProjectFormController">
		<property name="sessionForm"><value>false</value></property>
		<property name="commandName"><value>project</value></property>
		<property name="commandClass"><value>org.oztrack.data.model.Project</value></property>
		<property name="validator"><ref bean="projectFormValidator"/></property>
		<property name="formView"><value>projectadd</value></property>
		<property name="successView"><value>redirect:projects</value></property>
  </bean>
  <bean id="projectFormValidator" class="org.oztrack.validator.ProjectFormValidator"/>

  <bean name="/datafileadd" class="org.oztrack.controller.DataFileFormController">
          <property name="sessionForm"><value>false</value></property>
          <property name="commandName"><value>dataFile</value></property>
          <property name="commandClass"><value>org.oztrack.data.model.DataFile</value></property>
          <property name="validator"><ref bean="dataFileFormValidator"/></property>
          <property name="formView"><value>datafileadd</value></property>
          <property name="successView"><value>datafiledetail</value></property>
  </bean>
  <bean id="dataFileFormValidator" class="org.oztrack.validator.DataFileFormValidator"/>

  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize"><value>"100000000"</value></property>
</bean>

</beans>